@charset "utf-8";

@media (min-width: 430px){

    body{
        display: flex;
        flex-direction: column;
        
    }

    header img{
        width: 50%;
        height: 140px;  
    }

    table{
        width: 80%;
        height: 80px;
        margin-bottom: 5px;
    }

    .geral{
        width: 80%;
        margin-left: 79px
        }
   
}